# Kredensial SITB petugas
# JANGAN commit file ini ke GitHub!
SITB_URL=https://sitb.kemkes.go.id
SITB_USERNAME=username_petugas_anda
SITB_PASSWORD=password_petugas_anda
SITB_PUSKESMAS_ID=id_puskesmas_anda
